$mauve: #987284;
$carmine: #8B2635;
$snow: #FFFCF9;
$light-beige: #EADEDA;
$pale-gold: #F1BF98;
$apricot: #FBBA72;
$myrtle: #2E6171;
$blue: #7FB7BE;
$sage: #B5BD89; 
$black-olive: #393E41;
$black: #14080E;

// General variables

$general-background-color: $snow;
$general-font-color: $black;
 